{{> header}}
<form class="search-form">
    <div class="search-form__input-container">
        <input type="text" data-input="" id="q" class="search-form__input" placeholder="Zoek op giffie..." value="{{q}}" />
    </div>
    <div class="search-form__submit-container">
        <input type="submit" class="search-form__submit" value="Zoek" />
    </div>
</form>
{{> search-results}}