<div class="search-results">
    {{#results}}
        <a data-gifid="{{id}}" href="/gifs/{{id}}" class="search-result__item"
           style="background-image: url('{{images.fixed_width.url}}');"></a>
    {{/results}}
</div>